apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: metallb-config
  namespace: flux-system
spec:
  interval: 5m
  path: ./infrastructure/metallb/configs
  prune: true
  wait: true
  dependsOn:
    - name: metallb-crds
    - name: metallb-controller
  sourceRef:
    kind: GitRepository
    name: flux-system
