apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: flux-system
spec:
  releaseName: traefik
  targetNamespace: traefik-system
  install:
    createNamespace: true
  interval: 30m
  chart:
    spec:
      chart: traefik
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
  values:
    service:
      annotations: {}
    tlsStore:
      default:
        defaultCertificate:
          secretName: northcloud-wildcard-tls
