# clusters/test-cluster/configuration.yaml
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: infra-configs
  namespace: flux-system
spec:
  dependsOn:
    - name: infra-controllers
  interval: 10m
  path: ./clusters/test-cluster/infrastructure-configs
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
