apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: metallb-config
  namespace: flux-system
spec:
  dependsOn:
    - name: metallb-install
  interval: 5m
  path: ./infrastructure/metallb/configs
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system